.aboutOrder{
    width: 950px;
    height: 335px;
    margin: 35px 0px;
   h3{
    color: #A4ACAD;
    font-size: 24px;
   }
   p{
    font-size: 17px;
    color: #A4ACAD;
    font-weight: 400;
   }
   li{
    font-size: 17px;
    color: #A4ACAD;
    margin-left: 25px;
   }
}