.foodMenu{
    max-width: 1170px;
    min-height: 100vh;
    .foodMenu__topConteiner{
        max-width: 1170px;
        border: 1px solid black;
        height: 80px;
        background-color: aqua;
    }
}